# Lab2: Customer Analysis Round 2

For this lab, we will be using the marketing_customer_analysis.csv file that you can find in the files_for_lab folder. Check out the files_for_lab/about.md to get more information if you are using the Online Excel.

Note: For the next labs we will be using the same data file. Please save the code, so that you can re-use it later in the labs following this lab.

In [141]:
import pandas as pd
import numpy as np

In [142]:
data_mca=pd.read_csv('marketing_customer_analysis.csv')

In [143]:
data_mca.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [144]:
#1 Show the dataframe shape

In [145]:
print(data_mca.shape)

(10910, 26)

In [146]:
#2 Standardize header names

In [147]:
#use lower cases on all header names
col = []
for i in range(len(data_mca.columns)):
    col.append(data_mca.columns[i].lower())
data_mca.columns = col
data_mca

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [148]:
#for more standardization, I rename a column name to divide a word in two
data_mca=data_mca.rename(columns={'employmentstatus':'employment status'})
data_mca.head()

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [149]:
#3. Which columns are numerical?

In [150]:
data_mca.dtypes

unnamed: 0                         int64
customer                          object
state                             object
customer lifetime value          float64
response                          object
coverage                          object
education                         object
effective to date                 object
employment status                 object
gender                            object
income                             int64
location code                     object
marital status                    object
monthly premium auto               int64
months since last claim          float64
months since policy inception      int64
number of open complaints        float64
number of policies                 int64
policy type                       object
policy                            object
renew offer type                  object
sales channel                     object
total claim amount               float64
vehicle class                     object
vehicle size                      object
vehicle type                      object
dtype: object

In [151]:
data_mca.select_dtypes(np.number)

,unnamed: 0,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...,...
10905,10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [152]:
#numerical columns are: index, unnamed:0, customer lifetime value, income, monthly premium auto, months since the last claim, months since policy inception, number of open complaints, number of policies, total claim ammount
#--> seems ok

In [153]:
#4. Which columns are categorical?

In [154]:
data_mca.select_dtypes(object)

,customer,state,response,coverage,education,effective to date,employment status,gender,location code,marital status,policy type,policy,renew offer type,sales channel,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,NaN
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,IV32877,NaN,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,NaN

In [155]:
#numerical columns are: customer, state, response, coverage, eduation, effective to data, employment status, gender, location code, marital status, policy type, policy, renew offer typ, sales channel, vehicle class, vehicle size, vehicle type
# --> seems correct

In [156]:
#5. Check and deal with NaN values

In [157]:
data_mca.isna().sum()
# following columns seem problematic: state, response, months since last claim, number of open complaints, vehicle class, vehicle size, vehicle type
#vehicle type: 5482 NaN by 10910 rows --> column has to go
# the others have all 631,622 or 633 NaN --> could be a row problem?

unnamed: 0                          0
customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employment status                   0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [158]:
#delete unhelpful column 'vehicle type'
data_mca = data_mca.drop(['vehicle type'], axis=1)
data_mca.head()

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize

In [159]:
#delete unhelpful column 'unnamed: 0':
data_mca = data_mca.drop(['unnamed: 0'], axis=1)
data_mca.head()

,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,income,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize

In [160]:
    #filtering combinations of 2 columns with the same numbers of nan (pairs):
#data_mca[(data_mca['state'].isna())&(data_mca['response'].isna())] #631 rows for pair1
#data_mca[(data_mca['months since last claim'].isna())&(data_mca['number of open complaints'].isna())] #633 rows for pair2
#data_mca[(data_mca['vehicle class'].isna())&(data_mca['vehicle size'].isna())] #622 rows for pair3

    #filtering combinations of 2 pairs:
#data_mca[(data_mca['state'].isna())&(data_mca['response'].isna())&(data_mca['months since last claim'].isna())&(data_mca['number of open complaints'].isna())]
    #pair1 and 2: 42 rows
#data_mca[(data_mca['state'].isna())&(data_mca['response'].isna())&(data_mca['vehicle class'].isna())&(data_mca['vehicle size'].isna())]
    #pair1 and 3: 31 rows
#data_mca[(data_mca['months since last claim'].isna())&(data_mca['number of open complaints'].isna())&(data_mca['vehicle class'].isna())&(data_mca['vehicle size'].isna())]
    #pair2 and 3: 42 rows
    
#filtering all 6 nan-columns together:
#data_mca[(data_mca['state'].isna())&(data_mca['response'].isna())&(data_mca['months since last claim'].isna())&(data_mca['number of open complaints'].isna())&(data_mca['vehicle class'].isna())&(data_mca['vehicle size'].isna())]
#5 rows

In [161]:
#Decision against dropping single rows, because just 5 rows have a nan in 6 (out of 24) columns
#Instead, finding another way to deal with the nans in the 6 columns

In [162]:
#In order to clean the df some more (and hopefully some of the nan), I check for duplicates and remove if any

In [163]:
sum(data_mca.duplicated())
data_mca.drop_duplicates(inplace=True)
sum(data_mca.duplicated())
#56 duplicates deleted

0

In [164]:
data_mca.isna().sum()

customer                           0
state                            612
customer lifetime value            0
response                         612
coverage                           0
education                          0
effective to date                  0
employment status                  0
gender                             0
income                             0
location code                      0
marital status                     0
monthly premium auto               0
months since last claim          618
months since policy inception      0
number of open complaints        618
number of policies                 0
policy type                        0
policy                             0
renew offer type                   0
sales channel                      0
total claim amount                 0
vehicle class                    595
vehicle size                     595
dtype: int64

In [165]:
#dealing with state:
#data_mca[(data_mca['state'].isna())]
data_mca['state'].value_counts()

California    3540
Oregon        2895
Arizona       1933
Nevada         989
Washington     885
Name: state, dtype: int64

In [166]:
#use most common value "California" to fill na 
#--> Most answers by far California
#--> decision for fill in with the most common value:
data_mca['state'] = data_mca['state'].fillna('California')
data_mca['state'].value_counts()

California    4152
Oregon        2895
Arizona       1933
Nevada         989
Washington     885
Name: state, dtype: int64

In [167]:
#dealing with response:
# not sure if important that response is missing for further investigation
#--> fill na with 'no answer':
data_mca['response'] = data_mca['response'].fillna('no answer')
data_mca['response'].value_counts()

No           8782
Yes          1460
no answer     612
Name: response, dtype: int64

In [168]:
data_mca.head(50)

,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,income,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
5,HO81102,California,4745.181764,no answer,Basic,High School or Below,2/14/11,Employed,M,50549,...,73,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize
6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,37405,...,99,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize
7,IH64929,California,4956.247235,No,Basic,High School or Below,2/24/11,Employed,M,87197,...,45,0.0,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize
8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,66839,...,24,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize
9,QX31376,Oregon,17114.328150,No,Extended,Master,1/4/11,Employed,F,70961,...,8,0.0,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small
10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,82730,...,31,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large
11,GE63585,California,2420.711888,no answer,Basic,Bachelor,2/7/11,Employed,M,31710,...,29,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize
12,EO51920,Oregon,19955.257130,No,Extended,High School or Below,1/31/11,Employed,F,69096,...,32,0.0,2,Corporate Auto,Corporate L3,Offer1,Agent,64.669515,Four-Door Car,Medsize
13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,66334,...,25,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize
14,TL59568,Arizona,12836.009510,No,Premium,High School or Below,2/28/11,Unemployed,M,0,...,28,0.0,2,Personal Auto,Personal L2,Offer3,Agent,835.200000,Two-Door Car,Medsize
15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,79487,...,87,0.0,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize
16,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,76717,...,10,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large
17,TR26615,Oregon,2497.531509,No,Basic,High School or Below,1/17/11,Unemployed,M,0,...,74,0.0,1,Corporate Auto,Corporate L2,Offer2,Branch,272.381465,Two-Door Car,Medsize
18,ZC97968,California,2736.352663,No,Basic,College,2/14/11,Disabled,M,17533,...,1,0.0,1,Personal Auto,Personal L3,Offer1,Agent,350.400000,Two-Door Car,Medsize
19,NJ54277,California,3746.751625,Yes,Extended,College,2/26/11,Employed,F,41479,...,38,1.0,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large
20,OM80593,California,7247.313475,No,Basic,Bachelor,2/23/11,Unemployed,F,0,...,58,0.0,7,Personal Auto,Personal L3,Offer1,Call Center,499.200000,SUV,Medsize
21,RL65736,Oregon,6274.447705,No,Extended,High School or Below,2/14/11,Medical Leave,F,13662,...,37,0.0,3,Personal Auto,Personal L1,Offer1,Agent,408.000000,Four-Door Car,Small
22,EQ62488,Oregon,15031.564500,No,Basic,College,1/15/11,Employed,F,59456,...,7,0.0,8,Personal Auto,Personal L3,Offer2,Call Center,907.200000,Luxury Car,Large
23,NQ71171,California,5107.071054,No,Basic,Bachelor,2/2/11,Employed,M,70174,...,80,NaN,7,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize
24,YK32760,Oregon,2502.209885,No,Basic,High School or Below,2/15/11,Unemployed,M,0,...,95,1.0,1,Corporate Auto,Corporate L1,Offer1,Agent,355.200000,Four-Door Car,Medsize
25,AY59197,Nevada,9521.222806,No,Extended,College,1/24/11,Employed,M,27769,...,78,0.0,6,Special Auto,Special L3,Offer4,Agent,123.154160,SUV,Small
26,XF15789,Arizona,8869.619888,No,Basic,College,2/21/11,Employed,F,81350,...,28,0.0,9,Personal Auto,Personal L3,Offer3,Branch,228.185834,SUV,Large
27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,63774,...,63,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize
28,CI99444,Nevada,2926.886293,No,Basic,College,2/22/11,Employed,F,92381,...,27,0.0,1,Special Auto,Special L2,Offer2,Call Center,234.774747,Four-Door Car,Medsize
29,BD70337,California,24706.920110,No,Basic,High School or Below,1/7/11,Medical Leave,M,26307,...,1,0.0,2,Personal Auto,Personal L2,Offer4,Call Center,313.192439,Four-Door Car,Medsize
30,GX19342,California,8491.465719,No,Premium,High School or Below,1/28/11,Unemployed,F,0,...,97,0.0,3,Personal Auto,Personal L3,Offer1,Branch,1193.115879,Four-Door Car,Large
31,DP19210,California,9191.733549,No,Basic,Master,2/8/11,Employed,F,23823,...,39,0.0,6,Corporate Auto,Corporate L2,Offer2,Branch,567.480550,Sports Car,Medsize
32,OJ63606,Arizona,5776.338737,No,Premium,High School or Below,1/28/11,Medical Leave,F,27510,...,28,3.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,871.457982,SUV,Small
33,OH23893,California,9115.571690,No,Basic,Bachelor,2/15/11,Employed,F,69588,...,45,0.0,6,Personal Auto,Personal L1,Offer1,Branch,173.080024,SUV,Medsize
34,RI76930,California,4163.040810,No,Basic,College,2/12/11,Employed,F,43276,...,11,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,499.200000,SUV,Large
35,YK26558,California,5264.642009,No,Basic,College,2/20/11,Unemployed,F,0,...,26,0.0,8,Special Auto,Special L3,Offer1,Branch,135.888306,Four-Door Car,Medsize
36,OE15005,California,3945.241604,No,Basic,College,1/5/11,Medical Leave,M,28855,...,59,0.0,1,Personal Auto,Personal L2,Offer3,Call Center,647.442031,SUV,Medsize
37,RA17555,Oregon,5176.730072,No,Basic,High School or Below,2/7/11,Employed,M,41533,...,46,0.0,9,Corporate Auto,Corporate L2,Offer3,Agent,232.879766,Four-Door Car,Medsize
38,ZI34278,Arizona,4492.233480,No,Basic,Bachelor,1/28/11,Medical Leave,F,21137,...,62,1.0,6,Personal Auto,Personal L1,Offer2,Web,292.800000,Four-Door Car,Medsize
39,XD72019,Oregon,8470.043225,No,Extended,Bachelor,2/19/11,Unemployed,F,0,...,13,0.0,2,Personal Auto,Personal L2,Offer2,Web,479.312226,Four-Door Car,Large
40,RR93140,California,2880.348532,No,Basic,College,1/5/11,Employed,F,81565,...,54,0.0,1,Personal Auto,Personal L2,Offer2,Branch,190.642833,Four-Door Car,Medsize
41,BE25221,Arizona,6182.618843,No,Extended,High School or Below,2/7/11,Medical Leave,M,20072,...,51,0.0,9,Corporate Auto,Corporate L3,Offer1,Agent,473.266879,Four-Door Car,Medsize
42,PV62583,Nevada,9799.175061,No,Extended,College,1/3/11,Medical Leave,M,22166,...,22,0.0,6,Personal Auto,Personal L3,Offer1,Web,604.800000,SUV,Medsize
43,BL12371,Arizona,5790.565333,No,Basic,Master,2/3/11,Employed,M,84551,...,82,0.0,5,Personal Auto,Personal L3,Offer2,Agent,28.925840,Four-Door Car,Large
44,ER49844,Arizona,5041.447024,No,Basic,College,1/19/11,Employed,M,61972,...,52,2.0,5,Personal Auto,Personal L1,Offer4,Call Center,138.961963,Four-Door Car,Medsize
45,RI22468,Arizona,5745.943340,No,Basic,Bachelor,1/22/11,Employed,F,57740,...,87,3.0,9,Personal Auto,Personal L1,Offer3,Web,269.905129,Four-Door Car,Medsize
46,SY48591,Arizona,4827.776810,No,Basic,College,1/17/11,Unemployed,F,0,...,91,0.0,6,Personal Auto,Personal L3,Offer1,Branch,326.400000,Four-Door Car,Medsize
47,PR23514,California,7664.219255,No,Basic,College,1/23/11,Employed,M,60184,...,44,1.0,1,Personal Auto,Personal L3,Offer2,Web,161.615740,Luxury SUV,Medsize
48,UY32623,California,3593.126450,No,Extended,College,2/5/11,Disabled,F,18213,...,43,1.0,1,Corporate Auto,Corporate L2,Offer1,Branch,460.800000,Four-Door Car,Large
49,QV30663,Nevada,9863.502214,No,Extended,Master,2/28/11,Employed,F,99654,...,95,0.0,3,Personal Auto,Personal L3,Offer3,Call Center,272.788141,SUV,Medsize

In [169]:
#dealing with months since last claim
#data_mca['months since last claim'].value_counts()
#--> very mixed answers, no common value --> makes sense to use here the mean or median

mean_monthssincelastclaim = data_mca['months since last claim'].mean()
mean_monthssincelastclaim
data_mca['months since last claim']=data_mca['months since last claim'].fillna(mean_monthssincelastclaim)

In [170]:
#dealing with number of open complaints 
#--> values: 0.0: 8128, 1.0: 1140, 2.0: 414...
#--> decision for fill in with the most common value:
data_mca['number of open complaints'] = data_mca['number of open complaints'].fillna('0.0')
data_mca['number of open complaints'].value_counts()

0.0    8128
1.0    1140
0.0     618
2.0     414
3.0     321
4.0     166
5.0      67
Name: number of open complaints, dtype: int64

In [171]:
#dealing with vehicle class
#--> values: Four-Door Car: 5197, Two-Door Car:2110
#--> decision for fill in with the most common value:
data_mca['vehicle class'] = data_mca['vehicle class'].fillna('Four-Door Car')
data_mca['vehicle class'].value_counts()

Four-Door Car    5792
Two-Door Car     2110
SUV              2009
Sports Car        548
Luxury SUV        207
Luxury Car        188
Name: vehicle class, dtype: int64

In [172]:
#dealing with vehicle size
#--> values: Medsize: 7229, Small:7229
data_mca['vehicle size'].value_counts()
#data_mca['vehicle size'] = data_mca['vehicle size'].fillna('Medsize')

Medsize    7229
Small      1962
Large      1068
Name: vehicle size, dtype: int64

In [173]:
# --> all nan gone

In [174]:
#6. Datetime format - Extract the months from the dataset and store in a separate column. 
#Then filter the data to show only the information for the first quarter , 
#ie. January, February and March. 
#Hint: If data from March does not exist, consider only January and February.

In [175]:
#Months extract from the column m'effective to date':
data_mca['effective to date'] = pd.to_datetime(data_mca['effective to date'], errors='coerce')
#file['date_time'][0].month
#data_mca['month'] = data_mca['effective to date'][0].month
data_mca['month'] = pd.DatetimeIndex(data_mca['effective to date']).month

In [178]:
data_mca.head()

,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,1

In [182]:
data_mca[data_mca['month']<4]
data_mca.head()

,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,1

In [ ]:
7.BONUS: Put all the previously mentioned data transformations into a function.

In [ ]:
#no time before midnight, sorry!